.example1{
    width: 225px;
    background-color: aqua;
    padding: 0px;
    border: 0px;
    margin: 0px;
}
.example2{
    width: 225px;
    background-color: violet;
    padding: 30px;
    border: 10px solid blue;
    margin: 40px;
}